// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 1000 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
        .bradius-#{$i} {
            border-radius: $i + px;
        }
    }
}

@for $i from 1 through 1000 {
    .h-#{$i} {
        height: $i + px;
    }
    .w-#{$i} {
        width: $i + px;
    }
    .pa-#{$i} {
        padding: $i + px;
    }
    .ph-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
    }
    .pb-#{$i} {
        padding-top: $i + px;
        padding-bottom: $i + px;
    }
    .ma-#{$i} {
        margin: $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
    .mt-#{$i} {
        margin-top: $i + px;
    }
    .ml-#{$i} {
        margin-left: $i + px;
    }
    .mr-#{$i} {
        margin-right: $i + px;
    }
}
.mauto {
    margin: 0 auto;
}
.mauto2{
    margin: auto 0;
}
.mSpecial {
    margin: 0 auto 8px;
}
.mSpecial2 {
    margin:  35px auto 8px;
}
.mSpecial3 {
    margin:  24px auto 56px;
}

body {
    margin: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}
.bsnone {
    border-style: unset;
}
.bShadowInput {
    box-shadow: 0 0 2px 0 rgb(110, 110, 110);
}


// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
* {
    box-sizing: border-box;
}